<h2>User Management</h2>
<button (click)="openAddModal()">Add User</button>
<hr>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th> 
  </tr>
  <tr *ngFor="let u of users">
    <td>{{ u.username }}</td>
    <td>{{ u.name }}</td>
    <td>{{ u.email }}</td>
    <td>{{ u.address }}</td>
    <td>
      <button (click)="editUser(u)">Edit</button>
      <button (click)="deleteUser(u.id)">Delete</button>
    </td>
  </tr>
</table>


<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <h3>{{ isEdit ? 'Edit User' : 'Add User' }}</h3>
    <input [(ngModel)]="user.name" placeholder="name">
    <input [(ngModel)]="user.email" placeholder="Email">
    <div class="btn-group">
      <button (click)="saveUser()">
        {{ isEdit ? 'Update' : 'Save' }}
      </button>
      <button (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>